{{#user }}
<section class="hero is-fullheight">
  <div class="header-profile has-text-centered">
    <div class="brand">
      <img src="/img/remindr logo.png" alt="main-logo" class="remindrLogo">
    </div>
  </div>

  <div class="hero-body container">
    <div class="card pr-4 pl-4">
      <div class="card-content">

        <div class="field">
          <label class="label">Profile Picture</label>
          <figure class="image is-128x128 is-inline-block">
            <img src="/img/default profile 1.jpg" alt="Placeholder image">
          </figure>
          <div class="control mt-4">
            <div class="select">
              <select>
              <option>Default profile</option>
              <option>option 2</option>
              <option>option 3</option>
              <option>option 4</option>
              <option>option 5</option>
              <option>option 6</option>
              <option>option 7</option>
              </select>
            </div>
          </div>
          <form action="/action_page.php" class="has-text-centered mt-2">
            <input type="file" id="myFile" name="filename">
          </form>
        </div>

        <div class="field">
          <label class="label">Font</label>
          <div class="control mt-4">
            <button onclick="setStyleSheet('/css/nyan.css')" href="#">Style 1</a>
          </div>
        </div>

        <div class="field">
          <label class="label">Theme</label>
          <div class="control mt-4">
            <div class="select">
              <select>
              <option>Default Theme</option>
              <option>Catch 'em All</option>
              <option>Poly Want a Cracker</option>
              <option>80's Baby</option>
              <option>Splat</option>
              <option>Peace and Love</option>
              <option>Plain (Dark Mode)</option>
              <option>Plain (Light Mode)</option>
              <option>NYAN FOREVER</option>
              </select>
            </div>
          </div>
        </div>

        <div class="field">
          <label class="label">Bio</label>
          <div class="control">
            <textarea id="user-bio" class="textarea" placeholder="Textarea">{{bio}}</textarea>
          </div>
        </div>

        <div class="field">
          <label class="label">Email <span style="color: red; font-style: italic; font-weight: 400">(Cannot Be Changed)</span></label>
          <div class="control has-icons-left has-icons-right">
            <input class="input" type="email" placeholder="example@email.com" value="{{email}}" readonly>
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
          </div>
        </div>
        
        <div class="field">
          <label class="label">First Name</label>
          <div class="control has-icons-left">
            <input id="first-name" class="input" type="text" placeholder="First Name" value="{{first_name}}">
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
          </div>
        </div>
                    
        <div class="field">
          <label class="label">Last Name</label>
          <div class="control has-icons-left">
            <input id="last-name" class="input" type="text" placeholder="Last Name" value="{{last_name}}">
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
          </div>
        </div>

        <div class="field">
          <label class="label">Phone Number</label>
          <div class="control has-icons-left has-icons-right">
            <input id="phone" class="input" type="text" placeholder="123-456-7890" value="{{phone}}">
              <span class="icon is-small is-left">
                <i class="fas fa-phone"></i>
              </span>
          </div>
        </div>

        <div class="field">
          <label class="label">Time Zone</label>
            <div class="control">
              <div class="select">
                <select id="time-zone">
                <option id="user-time-zone" value="{{timeZone}}"></option>
                  <option value="America/New_York">Eastern Time</option>
                  <option value="America/Chicago">Central Time</option>
                  <option value="America/Denver">Mountain Time</option>
                  <option value="America/Phoenix">Mountain Time(AZ)</option>
                  <option value="America/Los_Angeles">Pacific Time</option>
                </select>
              </div>
            </div>
        </div>

        <div class="control pt-5 pb-2 has-text-centered">
          <button data-editId="{{id}}" id='save-profile' class="button is-info is-rounded is-fullwidth">
            Save Account
          </button>
          <br>
          <button id='cancel' class="button is-info is-rounded is-fullwidth">
              Cancel
          </button>

          <br>
          <span id="update-password"><a href="#">Update Password?</a></span>
          <br>
        </div>

      </div>
    </div>
  </div>
</section>

<script src="/js/formatPhone.js"></script>
<script src="/js/editAccount.js"></script>
<script src="/js/timeZoneSelection.js"></script>
<script src="/js/cssLoader.js"></script>

{{/user }}